<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button [routerLink]="['nuevo']" routerLinkActive="active" type="button" class="btn btn-secondary">Nuevo</button>
      <button [routerLink]="['editar']" routerLinkActive="active" type="button" class="btn btn-secondary active">Editar</button>
      <button [routerLink]="['detalle']" routerLinkActive="active" type="button" class="btn btn-secondary">Detalle</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
