<div [ngSwitch]="alerta">


  <div *ngSwitchCase="'primary'" class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
  </div>
</div>
<button class="btn btn-info" (click)="alerta = 'danger'">Cambiar</button>
