<div [ngClass]="alerta" class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<button class="btn btn-info mr-2" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-warning" (click)="alerta = 'alert-warning'">Warning</button>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">
  Hola mundo
</h3>
<button class="btn btn-danger"
        (click)="propiedades.danger = !propiedades.danger"
        [ngClass]="{'btn-danger':propiedades.danger, 'btn-info': !propiedades.danger}"
>
  Cambiar
</button>

<h3>Proceso Asincrono</h3>
<button class="btn btn-primary" (click)="ejecutarProceso()" [disabled]="cargador">
  <i [ngClass]="{'fa-save':!cargador, 'fa-spinner fa-spin': cargador}" class="fa"></i>
  {{!cargador ? 'Guardar cambios' :  'Espere un momento..'}}
</button>
